* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #fff5f5;
}

@media (max-width: 63em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 33em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 32em) {
  html {
    font-size: 20%;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 15%;
  }
}
